[Unit]
Description=Shipping Service

[Service]
User=roboshop
# highlight-start
Environment=CART_ENDPOINT=cart.rkak87.online:8080
Environment=DB_HOST=mysqldb.rkak87.online
# highlight-end
ExecStart=/bin/java -jar /app/shipping.jar
SyslogIdentifier=shipping

[Install]
WantedBy=multi-user.target
